:root {
    --primary-color: #134074;
    --secondary-color: #453823;
    --heading-font: "Oswald", sans-serif;
    --body-font: "Outfit", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
}
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 30px 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    font-family: var(--heading-font);
}
header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
header span{
    font-size: 1.2rem;
    color: var(--primary-color);
}
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: var(--body-font);
    width: 44px;
    height: 44px;
}
.hamburger::before{
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::before {
    content: "\00D7";
}
.navigation {
    display: none;
}
.navigation.show{
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
.navigation a{
    display: block;
    padding: 0.8rem 10px;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    font-family: var(--heading-font);
}
.navigation li.current{
    background-color: var(--secondary-color);
}
.navigation a:hover {
    background-color: rgb(253, 98, 98);
}
h1 {
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--heading-font);
}
h2 {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 0.2rem;
}
footer {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--heading-font);
    text-align: center;
    padding: 1rem 10px;
}
.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: rgb(250, 222, 65) solid 1px;
    border-radius: 22px;
}
.social img{
    width: 22px;
    height: 22px;
}
.social a:hover{
    background-color: black;
}
.card {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    background-color: rgb(245, 235, 235);
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card img {
    display: block;
    align-self: center;
    max-width: 200px;
    width: 100%;
    height: auto;
    margin: 1rem;
    border-radius: 6px;
    object-fit: cover;
}
section p {
    font-family: var(--body-font);
    color: black;
    font-size:x-large;
    text-align: justify;
}
.courses h3 {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    border: 1px solid black;
    background-color: var(--primary-color);
    color: white;
}
.completed h3{
    background-color: green;
}
#course-button{
    display: flex;
    justify-content: space-around;
}
button {
    margin: 0.5rem;
    padding: 1rem;
    font-size: larger;
    font-weight: bold;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: white;
}
.tcredits{
    margin: 1rem;
    padding: 0.7rem;
    text-align: center;
    font-weight: bold;
}
